{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>File Manager - Upload File</title>
  </head>
  <body>
    <h1>Envio de Arquivo</h1>
    <p>Envie seu arquivo por aqui, {{user.first_name}}</p>
    <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Sob: <select class="" name="under">
        <option value="0">Raiz</option>
        {% for folder in folders %}
        <option value="{{folder.id}}">{{folder.name}}</option>
        {% endfor %}
      </select>
      Arquivo: <input type="file" name="file">
      Nome: <input type="text" name="name">
      Privacidade: <select class="" name="privacidade">
        <option value="0">Privado</option>
        <option value="1">Público</option>
      </select>
      <input type="submit" name="submit" value="Enviar">
    </form>
  </body>
</html>
